.movie-image {
  max-height: 30em;
}

li {
  list-style: none;
}

.overview-container {
  display: flex;
  flex-direction: column;
}

.overview {
  text-align: initial;
  padding: 0 220px;
  margin-top: -10px;
}

.overview-text {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .overview {
    padding: 15px;
  }
}

.tagline {
  font-style: italic;
  color: grey;
}

body {
  background-color: aliceblue;
}

.crew-image {
  height: 200px;
}

.crew-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 40px;
  margin-left: 11.5%;
  margin-right: 14%;
}

.actor-name {
  font-weight: 600;
}

hr {
  max-width: 1000px;
}
