body,
html {
  margin: 0;
  padding: 0;
}

.trending-container,
.shows-container,
.upcoming-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Carousel item */
.slick-slide {
  padding: 10px;
}

.slick-list {
  max-height: 26em;
}

/* Carousel item content (image and title) */
.slick-slide div {
  text-align: center;
}

.slick-slide img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Remove margin on body and html for mobile devices */
@media (max-width: 768px) {
  .slick-list {
    max-height: 15em;
  }

  .trending-container,
  .shows-container,
  .upcoming-container {
    max-width: 340px;
  }

  .slick-list {
    max-height: 11em;
  }
}

.slick-arrow {
  background-color: #acb4bd !important;
  border-radius: 20px;
}
