.App {
  text-align: center;
}

/* Footer Styles */
footer {
  background-color: #3f535e; /* Match the background color of the navbar */
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  padding: 1em;
}

.git-logo {
  height: 30px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

footer span {
  margin-bottom: 110px;
}

footer a {
  text-decoration: none;
  color: white;
}
